@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
}

body {
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
  background-color: rgb(26, 26, 26) !important;
  color: rgb(180, 180, 180) !important;
}

b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 650;
}

h1 {
  font-variation-settings: 'wght' 850;
  margin: 0 !important;
}

h2 {
  font-variation-settings: 'wght' 750;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

a {
  text-decoration: underline !important;
  color: rgb(180, 180, 180) !important;
}

a:hover {
  text-decoration: underline !important;
  color: rgb(120, 120, 120) !important;
}

li {
  margin-bottom: 16px !important;
}

.prose a {
  color: rgb(180, 180, 180);
  text-decoration: underline;
}

.nav-line .nav-link {
  color: rgb(180, 180, 180);
}

* {
  color: rgb(180, 180, 180) !important;
}